// 实现基于断点的隐藏类
.hidden {
    &-xs-only {
        @media screen and (max-width: 768px - 1) {
            display: none;
        }
    }
    
    &-sm-only {
        @media screen and (min-width: 768px) and (max-width: 992px - 1) {
            display: none;
        }
    }

    &-sm-and-down {
        @media screen and (max-width: 992px - 1) {
            display: none;
        }
    }

    &-sm-and-up {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &-md-only {
        @media screen and (min-width: 992px) and (max-width: 1200px - 1) {
            display: none;
        }
    }

    &-md-and-down {
        @media screen and (max-width: 1200px - 1) {
            display: none;
        }
    }

    &-md-and-up {
        @media screen and (min-width: 992px) {
            display: none;
        }
    }

    &-lg-only {
        @media screen and (min-width: 1200px) and (max-width: 1920px - 1) {
            display: none;
        }
    }

    &-lg-and-down {
        @media screen and (max-width: 1920px - 1) {
            display: none;
        }
    }

    &-lg-and-up {
        @media screen and (min-width: 1200px) {
            display: none;
        }
    }

    &-xl-only {
        @media screen and (min-width: 1920px) {
            display: none;
        }
    }
}