@import "./config.scss";


// BEM相关内容
@mixin b($block) {
    $B: $namespace + '-' + $block; //使用变量声明 el-row

    @at-root {
        .#{$B} {
            @content;
        }
    }
}

@mixin m($modifier) {
    // &--flex
    $selector: &;
    $currentSelector: '';
    @each $unit in $modifier {
        $currentSelector: $currentSelector + $selector + $modifier-separator + $unit + ',';
    }

    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}

@mixin when($state) {
    $selector: &;
    $currentState: $selector + $state-prefix + $state;
    @at-root {
        #{$currentState} {
            @content;
        }
    }
}